    body {
        font-family: arial,sans-serif;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

        
    .container-fluid {
        width: 100%;
    }

    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .navbar {
        width: 100%;
        color: rgb(65,65,65);
        font-size: 13px;
    }

     .nav {
        list-style-type: none;
    }

    .nav li {
        display: inline-block;
    }

    .nav li:not(:first-child) {
        padding-left: 15px;
    }

    .left-nav {
        float: left;
    }

    .right-nav {
        float: right;
        margin-right: 30px;
    }

    .clearfix {
        clear: both;
    }

    .google-icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-size: 528px 68px;
        background-position: -132px -40px;
        opacity: 0.50;
        background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png');

    }

    .google-icon:hover {
        opacity: 1;
        cursor: pointer;

    }

    .sign-in {
       padding: 0 14px;
        color: white;
        line-height: 30px;
        font-size: 13px;
        border: 1px solid rgb(83,134,237);
background-color: rgb(83,134,237);
border-radius: 4px;
font-weight: 600;
    }

    .google {
    width: 100%;
    text-align: center;
    }

    .google-logo{
        margin: 180px 0 40px 0;
    }

    .google-search {
        display: flex;
        width: 580px;
        border: 1px solid rgba(0,0,0,0.2);;
        height: auto;
        margin: 0 auto;
        border-radius: 25px;
        padding: 2px;
    }

    .google-search input {
        vertical-align: center;
        display: flex;
        margin: 0 auto 0 0;
        width: 510px;
        line-height: 36px;
        font-size: 16px;
        border: none;
        color: rgb(65,65,65);
    }

    .google-search input:focus {
        outline: none;
    }


    .google-search:focus-within, .google-search:hover {
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.28);

    }

    .google-seach:focus-within {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-size: 528px 68px;
        background-position: -132px -40px;
        opacity: 0.50;
        background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    }
    

    .search-icon {
        display: flex;
        padding: 8px;
    }

    .google-buttons button{
        padding: 0 16px;
        color: rgb(65,65,65);
        margin-top: 40px;
        margin-left: 10px;
        line-height: 34px;
        font-size: 13px;
        cursor: pointer;
        border: 1px solid rgb(242,242,242);
background-color: rgb(242,242,242);
border-radius: 4px;
    }

        .google-buttons button:hover{
        background-color: #f7f7f7f7;
        border-color: #c6c6c6;
        color: black;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
    }
    
    .footer {
        color: grey;
        width: 100%;
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: auto;
        background-color: rgb(242,242,242);
        border-top: 1px solid rgba(0,0,0,0.05);
        font-size: 14px;
        line-height: 10px;
    }

    .footer-top {
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .footer-bottom {
        width: 100%;   
    }
           @media screen and (max-width: 768px){
            .navbar .left-nav {
                display: none;

        }
                .footer-bottom .nav {
                    float: none;
                    text-align: center;
                }

                .google-search {
        width: 480px;
        }

    .google-search input {
        
        width: 410px;

    }


            }


            @media screen and (max-width: 520px){
            .navbar .left-nav {
                display: none;

        }
                .footer-bottom .nav {
                    float: none;
                    text-align: center;
                }

                .google-search {
        width: 400px;
        }

    .google-search input {
        
        width: 330px;

    }


            }





 